{% comment %} DTL = Dynamic (Django) Template Language {% endcomment %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Communauté</th>
        <th scope="col">Site Web</th>
      </tr>
    </thead>
    <tbody>

    {% for h in hopitaux  %}
      <tr>
        {% comment %} <th scope="row">1</th> {% endcomment %}
        <td>{{ h.nom }}</td>
        <td>{{ h.communaute }}</td>
        <td>{{ h.site }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>