{% extends 'hopitaux/base.html' %}

{% block content %}

<div class="container">
  <table class="table table-info table-striped-columns table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Communauté</th>
        <th scope="col">Site Web</th>
      </tr>
    </thead>
    <tbody>

    {% for hopital in hopitaux  %}
      <tr>
        <th scope="row">{{ hopital.id }}</th>
        <td> <a href="{% url 'un-hopital' hopital.id %}">{{ hopital.nom }}</a> </td>
        <td>{{ hopital.communaute }}</td>
        <td>{{ hopital.site }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
  
{% endblock content %}

